/* DEBUG */
* {
    border: 1px solid red;
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMONS */
body, .header.right select.level {
    font-family: 'Roboto Mono', monospace;
}

.flex {
    display: flex;
}

button {
    background-color: rgb(84, 82, 182);
    color: white;
    border-radius: 10px;
    padding: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background-color: rgb(114, 112, 212);
}

button:active {
    transform: translateY(1px);
}

header .container, footer .container {
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header .container {
    justify-content: space-between;
    height: 15vh;
}

.header.left, .header.right, header .container, footer .container {
    align-items: center;
}

.header.left img {
    max-width: 50px;
    margin-right: 20px;
}

.header.left h1.title {
    color: rgb(44, 42, 148);
}

.header.right .difficulty {
    margin-right: 5px;
}

.header.right button.play-btn {
    margin-left: 25px;
}

.header.right select.level, .header.right option {
    padding: 2px;
}

.header.right select.level {
    transform: translateY(1px);
}

/* MAIN */
main {
    height: 75vh;
    background-color: rgb(114, 112, 212);
}








/* FOOTER */
footer .container {
    height: 10vh;
}

footer i {
    color: red;
}

footer span {
    font-family: 'Water Brush', cursive;
    font-size: 20px;
}



/* MEDIA QUERY */
@media screen and (max-width: 770px) {
    .header.left img {
        max-width: 20px;
        margin-right: 5px;
    }
    
    .header.left h1.title {
        font-size: 20px;
    }

    .header.right, footer {
        font-size: 12px;
    }
    
    footer span {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 560px) {
    header .container, footer .container {
        width: 95%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 460px) {
    .header.left img, .header.right .difficulty{
        display: none;
    }
    
    .header.left h1.title {
        font-size: 10px;
    }

    .header.right, footer {
        font-size: 8px;
    }
    
    footer span {
        font-size: 10px;
    }
    
}
